/*
 * File: miku-input.scss
 * Project: eat_what
 * File Created: Friday, 29th June 2018 4:41:32 pm
 * Author: Ice-Hazymoon (imiku.me@gmail.com)
 * -----
 * Last Modified: Friday, 29th June 2018 6:04:29 pm
 * Modified By: Ice-Hazymoon (imiku.me@gmail.com)
 */
 .miku-input{
    // $color: #ff44a3;
    $color: #fd67b2;
    font-size: 16px;
    p {
        padding: 1em;
    }

    label {
        display: block;
        padding: 0.5em 1em;
    }

    fieldset {
        border: none;
    }

    input {
        &[type="radio"],
        &[type="checkbox"] {
            float: left;
            clear: left;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity = 0);
        }
        &[type="radio"] + label,
        &[type="checkbox"] + label {
            position: relative;
            cursor: pointer;
            padding-left: 2em;
            user-select: none;
        }
        &[type="radio"] + label:nth-child(2):before,
        &[type="checkbox"] + label:nth-child(2):before,
        &[type="radio"] + label:nth-child(2):after,
        &[type="checkbox"] + label:nth-child(2):after {
            color: $color;
        }
        &[type="radio"] + label:before,
        &[type="checkbox"] + label:before,
        &[type="radio"] + label:after,
        &[type="checkbox"] + label:after {
            content: "";
            position: absolute;
            box-sizing: border-box;
            display: block;
            pointer-events: none;
            top: 50%;
            left: 1em;
            transform: translateX(-50%) translateY(-50%);
        }
        &[type="radio"] + label:before,
        &[type="checkbox"] + label:before {
            width: 1em;
            height: 1em;
            border: 2px solid;
        }
        &[type="radio"] + label:after,
        &[type="checkbox"] + label:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0;
            transition: border-width 0.2s;
        }
        &[type="radio"]:checked + label:after,
        &[type="checkbox"]:checked + label:after {
            border-width: 4px;
        }
        &[type="radio"]:focus,
        &[type="checkbox"]:focus {
            outline: none;
        }
        &[type="radio"]:focus + label:before,
        &[type="checkbox"]:focus + label:before {
            outline: 1px dotted;
        }
        &[type="radio"]:hover + label:before,
        &[type="checkbox"]:hover + label:before {
            box-shadow: 0 0 0.5em -0.1em;
        }
        &[type="radio"] + label {
            &:before,
            &:after {
                border-radius: 50%;
            }
        }
    }
}